h1{
    color: rgb(14, 90, 176);
    font-weight: bolder;
    font-size: 50px;
}

nav{
    color: rgb(255, 255, 255);
    background-color: rgb(166, 202, 231);
    font-weight: bolder;
    font-size: 20px;
    list-style:none;
}

ul{
list-style: none;
}

h2{
    background-color: antiquewhite;
    margin
}

.article_list{
    background-color: rgb(205, 224, 239);
}

.article-card{
border: solid white ;
border-radius:20px;
margin-bottom: 20px;
font-size: 25px;
background-color: rgb(147, 182, 235);

}